:root {
    --red: hsl(0, 79%, 57%);
    --beige: hsl(31, 49%, 81%);
}

@font-face {
    font-family: 'Fira Sans';
    src: url('../fonts/Fira-Sans/FiraSans-Regular.woff2') format('woff2'),
        url('../fonts/Fira-Sans/FiraSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('../fonts/Fira-Sans/FiraSans-SemiBold.woff2') format('woff2'),
        url('../fonts/Fira-Sans/FiraSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('../fonts/Fira-Sans/FiraSans-Bold.woff2') format('woff2'),
        url('../fonts/Fira-Sans/FiraSans-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/* ══════════════════════════════════════════════════════════════════════════════════════
════════════════════════════════════════ GENERAL ════════════════════════════════════════
══════════════════════════════════════════════════════════════════════════════════════ */

*::selection {
    background-color: white;
}

body {
    font-family: 'Fira Sans';
    background: black;
}

h2 {
    font-size: 3.2rem;
    line-height: 3.3rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

h3 {
    font-size: 1.6rem;
}

p {
    font-size: 1.1rem;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

a {
    color: black;
    text-decoration: none;
}

button {
    background: none;
    border: none;
    color: white;
    padding: 0;
}

button:hover {
    cursor: pointer;
    color: var(--red);
}

button svg:hover {
    fill: var(--red);
}

input {
    outline: none;
}

.header__inner,
.modal__inner,
.segment__inner,
.footer__inner {
    max-width: 90rem;
    margin: 0 auto;
}

.campaign-gf {
    background-size: 43rem;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 10%;
}

/* --------------------------- 📱 General media queries ------------------------------ */

@media (max-width: 80rem) {
    h2 {
        font-size: 2.1rem;
    }
    p {
        font-size: 1rem;
    }
    h3 {
        font-size: 1.2rem;
    }
}

@media (max-width: 48rem) {
    h2 {
        font-size: 1.6rem;
        line-height: 1.7rem;
    }
}

/* ══════════════════════════════════════════════════════════════════════════════════════
════════════════════════════════════════ HEADER ═════════════════════════════════════════
══════════════════════════════════════════════════════════════════════════════════════ */

header {
    background-color: black;
    color: white;
    font-size: 1rem;
    font-weight: 600;
}

header a {
    color: white;
}

header a:focus {
    outline: 2px solid #fff;
    outline-offset: 0.7rem;
    z-index: 3;
}

header a::selection,
header p::selection {
    color: black;
}

.menu__link {
    position: relative;
}

.menu__link--active::after,
.menu__link--active::before,
.menu__link:hover::after,
.accessibility:hover::after {
    content: '';
    display: block;
    position: absolute;
    background-color: white;
}

.menu__link--active::after,
.menu__link:hover::after,
.accessibility:hover::after {
    height: 0.2rem;
    width: 1.6rem;
    margin-top: 1rem;
}

.menu__link--active::before {
    width: 1rem;
    top: 2.77rem;
    left: -0.5rem;
    transform: rotate(90deg);
}

.header__inner {
    position: relative;
    padding: 4rem 2.2rem;
    transition: 0.3s ease;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    justify-content: space-between;
}

/* ----------------------------------- Main-nav -------------------------------------- */

.main-navigation {
    display: flex;
    align-items: center;
}

/* Logo */

.logo__container:hover::after {
    content: '';
    display: none;
}

.logo-gf {
    width: 13.5rem;
    transition: 0.3s ease;
}

.logo-gf::selection {
    background: none;
}

.logo-gf--black {
    filter: invert(1);
}

/* Menu */

.menu__wrapper {
    padding-left: 3.4rem;
}

.menu {
    display: flex;
    gap: 3rem;
}

/* ---------------------------------- Mobile-nav ------------------------------------- */

.mobile-navigation {
    display: flex;
    align-items: center;
    gap: 2rem;
}

/* Language button */

.language-button {
    position: relative;
    text-transform: uppercase;
    padding-right: 1.4rem;
}

.language--active::after {
    content: '';
    display: inline-block;
    position: absolute;
    background-image: url(../img/gentse-feesten-icoontjes/chevron-down.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 1.6rem;
    height: 1.6rem;
}

.language--active:hover::after {
    background-image: url(../img/gentse-feesten-icoontjes/chevron-down--red.svg);
}

/* Language button (when open) */

.language-button--open:hover {
    color: white;
}

.language--active:hover {
    color: var(--red);
}

.language-button--open .language--active::after {
    background-image: url(../img/gentse-feesten-icoontjes/chevron-down.svg);
    transform: rotate(180deg);
}

.language-button--open .language--active:hover::after {
    background-image: url(../img/gentse-feesten-icoontjes/chevron-down--red.svg);
}

.languages {
    display: none;
    position: absolute;
    border: 1px solid white;
    background-color: black;
    top: 2rem;
    left: -1rem;
    box-shadow: 10px 10px 20px -5px rgba(0,0,0,0.3);
    z-index: 1;
}

.language-button--open .languages {
    display: block;
}

.languages:hover {
    color: white;
}

.language {
    padding: 0.6rem 1.6rem;
}

.language:hover {
    background-color: var(--red);
    color: white;
}

/* Search button */

.search-button__container {
    margin-top: 0.4rem;
}

.search-button {
    width: 1.2rem;
}

/* Hamburger menu */

.menu-button__wrapper {
    padding-top: 0.5rem;
}

.menu-button {
    width: 3.4rem;
}

/* ------------------------------------- Modal ---------------------------------------- */

.modal {
    background-color: var(--red);
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    top: 100%;
    left: 0;
}

.modal__inner {
    padding: 4rem 2.2rem;
}

.modal__image {
    width: 40vw;
    height: 100vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--beige);
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

.modal-open {
    top: 0;
}

/* Modal header with logo, languages, search- and close-button */

.modal__header {
    display: flex;
    justify-content: space-between;
}

.logo--modal path {
    fill: black;
}

.modal button {
    color: black;
}

.modal button:hover {
    color: white;
}

.modal button svg:hover {
    fill: white;
}

/* Modal navigation with program */

.modal__navigation {
    padding-top: 6rem;
}

.modal__navigation li {
    padding-bottom: 1.2rem;
}

.modal__navigation a {
    color: black;
}

.modal__navigation a:hover {
    color: white;
}

/* Modal language button */

.modal .language--active {
    color: black;
}

.modal .language--active:hover {
    color: white;
}

.modal .language--active::after {
    filter: invert(1);
}

.modal .language--active:hover::after {
    background-image: url(../img/gentse-feesten-icoontjes/chevron-down.svg);
    filter: invert(0);
}

.modal .languages {
    color: white;
}

/* Modal program */

.modal__program__container {
    position: relative;
}

.modal__program {
    position: relative;
    padding-right: 4rem;
}

.modal__program::after {
    content: '';
    background-image: url(../img/gentse-feesten-icoontjes/arrow-right-long.svg);
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    width: 4rem;
    height: 1.2rem;
    position: absolute;
    top: 0;
    left: 9rem;
}

.modal__program:hover::after {
    background-image: url(../img/gentse-feesten-icoontjes/arrow-right-long--white.svg);
}

.modal__program__days {
    position: absolute;
    top: 0;
    left: 15rem;
}

/* ---------------------------------- Date sticker ------------------------------------ */

.duration {
    position: absolute;
    background-color: var(--red);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 11rem;
    height: 11rem;
    border-radius: 50%;
    color: black;
    font-size: 1.8rem;
    font-weight: 600;
    text-align: center;
    text-transform: none;
    transition: 0.3s ease;
}

.duration span::selection {
    color: black;
}

.duration--top {
    top: 10rem;
    right: 2rem;
}

/* ----------------------------- 📱 Header media queries ------------------------------- */

@media (max-width: 80rem) {
    .menu,
    .accessibility {
        display: none;
    }
    .duration {
        width: 9rem;
        height: 9rem;
        font-size: 1.5rem;
        line-height: 5.8;
        transition: 0.3s ease;
    }
}

@media (max-width: 64rem) {
    .header__inner {
        padding: 2.4rem 2.2rem;
        transition: 0.3s ease;
    }
    .logo-gf {
        width: 9.5rem;
        transition: 0.3s ease;
    }
    .duration {
        transition: 0.3s ease;
    }
    .duration--top {
        top: 6.4rem;
    }
    .modal__inner {
        padding: 2.4rem 2.2rem;
    }
    .modal__image {
        display: none;
    }
}

@media (max-width: 48rem) {
    .header__inner,
    .modal__inner {
        padding: 1.3rem 1.3rem;
        transition: 0.3s ease;
    }
    .language-button,
    .search-button,
    .duration {
        display: none;
    }
    .mobile-navigation {
        gap: 0;
    }
    .modal__navigation {
        padding-top: 3rem;
    }
    .modal .mobile-navigation {
        gap: 1rem;
    }
    .modal .language-button {
        display: inline-block;
    }
    .modal .search-button {
        display: block;
        width: 1.2rem;
    }
    .menu-button--close {
        width: 2.4rem;
    }
    .modal__program::after {
        left: 7rem;
    }
    .modal__program__days {
        left: 11rem;
    }
    .logo-gf {
        padding-right: 1rem;
        width: 10rem;
    }
}

/* ══════════════════════════════════════════════════════════════════════════════════════
═════════════════════════════════════════ MAIN ══════════════════════════════════════════
══════════════════════════════════════════════════════════════════════════════════════ */

/* ----------------------------------- Home banner ------------------------------------ */
.segment {
    background-color: var(--beige);
}

.segment__inner {
    padding: 8rem 6rem;
    position: relative;
}

/* segment calendar */

.segment__content {
    padding: 6rem 2rem;
    max-width: 34rem;
    margin-left: auto;
    transition: 0.3s ease;
}

.date-cta {
    padding-bottom: 2rem;
    display: block;
    position: relative;
    width: 16rem;
    left: 5rem;
    transition: 0.2s ease;
}

.date-cta::before {
    content: '';
    display: block;
    position: absolute;
    background-image: url('../img/gentse-feesten-icoontjes/arrow-right-extra-long.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 8rem;
    height: 4rem;
    top: -0.8rem;
    left: -2rem;
}

.date-cta:hover {
    left: 8rem;
    transition: 0.2s ease;
}

/* Hide rest of arrow (overflow) */

.date-cta::after {
    content: '';
    display: block;
    position: absolute;
    width: 4rem;
    height: 3rem;
    background-color: var(--beige);
    top: -1rem;
    left: -2rem;
    transition: 0.2s ease;
}

.date-cta:hover::after {
    left: -5rem;
    transition: 0.2s ease;
}

.date-cta p {
    font-size: 1.3rem;
    line-height: 1.6rem;
    text-align: right;
}

.date-cta strong {
    font-size: 2rem;
}

/* Calendar grid */

.calendar-links {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 1px;
}

.calendar-link--1 { grid-area: 1 / 1 / 2 / 2; }
.calendar-link--2 { grid-area: 1 / 2 / 2 / 3; }
.calendar-link--3 { grid-area: 2 / 1 / 3 / 2; }
.calendar-link--4 { grid-area: 2 / 2 / 3 / 3; }
.calendar-link--5 { grid-area: 2 / 3 / 3 / 4; }
.calendar-link--6 { grid-area: 3 / 1 / 4 / 2; }
.calendar-link--7 { grid-area: 3 / 2 / 4 / 3; }
.calendar-link--8 { grid-area: 3 / 3 / 4 / 4; }
.calendar-link--9 { grid-area: 4 / 2 / 5 / 3; }
.calendar-link--10 { grid-area: 4 / 3 / 5 / 4; }

.calendar-link a {
    display: block;
    background-color: var(--red);
    padding: 1.4rem 0;
    text-align: center;
    transition: 0.2s ease;
}

.calendar-link a:hover {
    background-color: black;
    color: white;
    transition: 0.2s ease;
}

.calendar__day {
    font-size: 1.9rem;
    font-weight: 600;
}

.calendar__date {
    font-size: 1.2rem;
}

/* --------------------------------- Event teasers ----------------------------------- */

.segment--dark {
    background-color: black;
    padding: 10rem;
    color: white;
    padding: 0;
}

.segment__content--teasers {
    margin: 0;
    max-width: none;
    overflow: auto;
    white-space: nowrap;
    padding: 0;
    padding-bottom: 1rem;
}

/* Teasers navigation */

.teasers__navigation {
    display: flex;
    justify-content: flex-end;
    gap: 0.4rem;
    padding-bottom: 1rem;
}

.nav-arrow {
    max-width: 8rem;
    width: 100%;
    filter: invert(1);
    overflow: hidden;
}

.nav-arrow--left {
    position: relative;
    transform: rotate(180deg);
    opacity: 70%;
    left: 3rem;
    transition: 0.2s ease;
}

.nav-arrow--right {
    position: relative;
    right: 3rem;
    transition: 0.2s ease;
}

.nav-arrow svg:hover {
    cursor: pointer;
    transition: 0.2s ease;
}

.nav-arrow--left:hover {
    left: 0;
}

.nav-arrow--right:hover {
    right: 0;
}

/* Event teaser */

.teaser__wrapper {
    position: relative;
    display: inline-block;
    max-width: 30rem;
    width: 100%;
    margin-right: 1rem;
    z-index: 1;
}

.teaser__wrapper:hover {
    cursor: pointer;
}

.teaser__date {
    position: absolute;
    top: 1rem;
    left: 1rem;
    background-color: black;
    text-transform: uppercase;
    font-size: 1.1rem;
    padding: 0.3rem 0.7rem;
    border: 1px solid white;
    transition: 0.3s ease;
}

.teaser__wrapper:hover .teaser__date {
    background-color: var(--red);
    color: black;
    transition: 0.3s ease;
}

.teaser__img {
    width: 100%;
    border: 1px solid white;
    position: relative;
    z-index: -1;
}

.teaser {
    background-color: black;
    border: 1px white solid;
    padding: 2rem;
    width: 70%;
    position: relative;
    bottom: 3rem;
    left: 0;
    transition: 0.3s ease;
}

.teaser__wrapper:hover .teaser {
    bottom: 6rem;
    left: 3rem;
    transition: 0.3s ease;
}

.teaser::after {
    content: '';
    background-color: var(--red);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.3s ease;
    z-index: -1;
}

.teaser__wrapper:hover .teaser::after {
    top: 2rem;
    left: -2rem;
    transition: 0.3s ease;
}

.teaser div {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    flex-wrap: wrap;
}

.teaser__location {
    background-color: var(--red);
    color: black;
    padding: 0.2rem 1rem;
}

/* ----------------------------- 📱 Main media queries -------------------------------- */

@media (max-width: 80rem) {
    .segment__inner  {
        padding: 8rem 3rem;
        background-size: 38rem;
        background-position-y: 58%;
    }
    .segment__content {
        max-width: 28rem;
        transition: 0.3s ease;
    }
    .date-cta p {
        position: relative;
        right: 2rem;
        font-size: 1.2rem;
    }
    .date-cta strong,
    .calendar__day {
        font-size: 1.6rem;
    }
    .calendar__date {
        font-size: 1rem;
    }
    .segment__content--teasers {
        max-width: none;
        padding: 0 1rem;
        transition: 0.3s ease;
    }
    .teaser__wrapper {
        max-width: 25rem;
    }
}

@media (max-width: 64rem) {
    .segment__inner  {
        padding: 5rem 1rem;
        background-size: 32rem;
    }
}

@media (max-width: 48rem) {
    .segment__inner  {
        padding: 0;
        background-size: 24rem;
        background-position-y: 4rem;
        background-position-x: center;
    }
    .segment__content {
        padding: 32rem 0;
        padding-bottom: 0;
        max-width: none;
        transition: 0.3s ease;
    }
    .date-cta {
        left: 1rem;
    }
    .date-cta:hover {
        left: 4rem;
    }
    .date-cta p {
        position: relative;
        right: 2rem;
        font-size: 1rem;
        line-height: 1.3rem;
    }
    .date-cta strong {
        font-size: 1.4rem;
    }
    .calendar-links {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(2, 1fr); 
        grid-gap: 1px;
    }
    .calendar-link--1 { grid-area: 1 / 1 / 2 / 2; }
    .calendar-link--2 { grid-area: 1 / 2 / 2 / 3; }
    .calendar-link--3 { grid-area: 1 / 3 / 2 / 4; }
    .calendar-link--4 { grid-area: 1 / 4 / 2 / 5; }
    .calendar-link--5 { grid-area: 1 / 5 / 2 / 6; }
    .calendar-link--6 { grid-area: 2 / 1 / 3 / 2; }
    .calendar-link--7 { grid-area: 2 / 2 / 3 / 3; }
    .calendar-link--8 { grid-area: 2 / 3 / 3 / 4; }
    .calendar-link--9 { grid-area: 2 / 4 / 3 / 5; }
    .calendar-link--10 { grid-area: 2 / 5 / 3 / 6; }
    .calendar-link a {
        padding: 1rem 0;
    }
    .calendar__day {
        font-size: 1.4rem;
    }
    .segment__content--teasers {
        padding: 4rem 1rem;
        white-space: normal;
        overflow: visible;
    }
    .teasers__navigation {
        display: none;
    }
    .teaser__wrapper {
        max-width: none;
    }
    .teaser {
        width: 85%;
    }
}

/* ══════════════════════════════════════════════════════════════════════════════════════
════════════════════════════════════════ FOOTER ═════════════════════════════════════════
══════════════════════════════════════════════════════════════════════════════════════ */

.footer__inner {
    padding: 8rem 2.2rem 2rem;
    position: relative;
}

/* ---------------------------- Footer top / Newsletter ------------------------------ */

.footer--top {
    padding-bottom: 6rem;
    padding-top: 3rem;
    background-color: var(--beige);
}

/* Media */

.segment__inner--media {
    padding: 0;
}

.segment__content--media {
    max-width: none;
    padding-top: 0;
    padding-bottom: 0;
}

.segment__content--media div {
    margin-bottom: 2.2rem;
}

.segment__content--media a {
    display: inline-block;
    background-color: var(--red);
    font-size: 3.2rem;
    font-weight: 700;
    padding: 1rem 2rem;
    position: relative;
}

.segment__content--media a::before {
    content: '';
    display: block;
    position: absolute;
    background-image: url(../img/gentse-feesten-icoontjes/arrow-right-extra-long.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 8rem;
    height: 2.7rem;
    top: 32%;
}

.segment__content--media a span {
    background-color: var(--red);
    position: relative;
    z-index: 1;
    display: block;
}

.media__photos span {
    padding-right: 3rem;
}

.media__videos span {
    padding-left: 3rem;
}

a.media__photos {
    padding-right: 8rem;
    transition: 0.2s ease;
}

a.media__photos:hover {
    padding-right: 11rem;
    transition: 0.2s ease;
}

a.media__videos {
    padding-left: 8rem;
    transition: 0.2s ease;
}

a.media__videos:hover {
    padding-left: 11rem;
    transition: 0.2s ease;
}

.media__photos::before {
    right: 3rem;
}

.media__videos::before {
    transform: rotate(180deg);
    left: 3rem;
}

/* Newsletter */

.small-letters {
    display: block;
    font-size: 0.77rem;
    line-height: 1.4rem;
}

.small-letters::selection,
.small-link:hover {
    color: black;
}

.segment__content--newsletter {
    max-width: 50%;
    padding: 2rem;
    margin-top: 8rem;
    background-color: hsla(31, 49%, 81%, 0.9);
}

.small-link {
    color: var(--red);
    text-decoration: underline;
}

/* Newsletter form */

.newsletter-form__input {
    font-size: 1.2rem;
    width: 100%;
    background: none;
    border: none;
    border-bottom: 2px solid black;
    padding: 0.7rem;
    margin: 1rem 0;
}

.newsletter-form__input:focus {
    outline-style: solid;
    outline-width: 2px;
    outline-color: black;
    outline-offset: 2px;
}


.newsletter-form__submit {
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 1.1rem;
    color: black;
    background-color: var(--red);
    padding: 1.2rem 2rem;
    border: 1px solid var(--red);
    transition: 0.3s ease;
    margin: 1.4rem 0; 
}

.newsletter-form__submit:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
    transition: 0.3s ease;
}

/* ---------------------------------- Date sticker ------------------------------------ */

.duration--bottom {
    top: -6rem;
    transition: 0.3s ease;
}

/* ---------------------------------- Footer bottom ------------------------------------ */

.footer--bottom {
    background-color: black;
}

.big-footer,
.small-footer {
    display: flex;
    justify-content: space-between;
}

.big-footer {
    gap: 1rem;
    padding-bottom: 4rem;
}

.small-footer {
    gap: 2rem;
}

/* Left side */

.hashtag {
    display: block;
    font-size: 3.8rem;
    line-height: 3.8rem;
    color: white;
    font-weight: 600;
    padding-top: 6rem;
}

.hashtag::selection {
    color: black;
}

.footer__nav {
    display: flex;
    gap: 1rem;
}

.small-letters--gray {
    color: hsl(0, 0%, 70%);
}

.footer__nav a:hover {
    text-decoration: underline;
}

/* Right side */

.footer__right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.socials {
    display: flex;
    justify-content: flex-end;
    gap: 1.2rem;
}

.socials a {
    display: block;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: white;
    transition: 0.3s ease;
}

.socials a:hover {
    background-color: var(--red);
}

.socials img {
    padding: 0.5rem;
    width: 100%;
    margin: 0 auto;
}

.organizers {
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
}

.organizers a:hover {
    opacity: 85%;
}

/* -------------------------------- 📱 Footer queries ---------------------------------- */

@media (max-width: 80rem) {
    .segment__content--media a {
        font-size: 2.3rem;
    }
    .segment__content--media a::before {
        top: 26%;
    }
    .duration--bottom {
        top: -4rem;
    }
}

@media (max-width: 64rem) {
    .socials a {
        width: 2.8rem;
        height: 2.8rem;
        transition: 0.3s ease;
    }
    .socials img {
        padding: 0.4rem;
    }
}

@media (max-width: 48rem) {
    .segment__content--newsletter {
        max-width: none;
        background-color: var(--beige);
    }
    .segment__content--media {
        padding: 0 2rem;
    }
    .segment__content--media a {
        font-size: 1.6rem;
    }
    .segment__content--media a::before {
        top: 20%;
    }
    .newsletter-form__input {
        font-size: 1rem;
    }
    .duration--bottom{
        display: block;
        left: calc(50% - 75px);
        transition: 0.3s ease;
    }
    .big-footer {
        display: block;
    }
    .footer__left,
    .socials {
        padding-bottom: 3rem;
    }
    .hashtag {
        padding-top: 3rem;
        font-size: 2rem;
        line-height: 2rem;
    }
    .footer__right ul {
        justify-content: flex-start;
    }
    .small-footer {
        display: block;
    }
    .footer__nav {
        padding-bottom: 1.4rem;
    }
}